body {
    font-family: Arial, Helvetica, sans-serif;
}

div#error {
    color: white;
    background-color: red;
    visibility: hidden;
}

tr.success {
    color: green;
}

tr.failure {
    color: red;
}